In [1]:
!pip install pyreadr

Requirement already satisfied: pyreadr in /home/gunes/miniforge3/envs/fairness/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: pandas>=1.2.0 in /home/gunes/miniforge3/envs/fairness/lib/python3.12/site-packages (from pyreadr) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /home/gunes/miniforge3/envs/fairness/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadr) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gunes/miniforge3/envs/fairness/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadr) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /home/gunes/miniforge3/envs/fairness/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadr) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/gunes/miniforge3/envs/fairness/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadr) (2024.1)
Requirement already satisfied: six>=1.5 in /home/gunes/miniforge3/envs/fairness/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadr) (1.16.0)

In [2]:
import pandas as pd

## Helper functions

In [3]:
def convert_nonzero_to_one(feature):
    df[feature] = df[feature].apply(lambda x: 1 if x != 0 else x)
    return df

## Upload dataset

In [19]:
dataset_name = "demo"
df = pd.read_csv('demo.csv', )

In [20]:
df.isnull().values.any()

False

In [22]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,Insurance_History,Property_Area,Policy_Status
0,Male,Yes,1,Graduate,No,4583,1508.0,1,Rural,0
1,Male,Yes,0,Graduate,Yes,3000,0.0,1,Urban,1
2,Male,Yes,0,Not Graduate,No,2583,2358.0,1,Urban,1
3,Male,No,0,Graduate,No,6000,0.0,1,Urban,1
4,Male,Yes,2,Graduate,Yes,5417,4196.0,1,Urban,1

## Preprocessing

In [16]:
y_label = "Policy_Status"

In [23]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,Insurance_History,Property_Area,Policy_Status
0,Male,Yes,1,Graduate,No,4583,1508.0,1,Rural,0
1,Male,Yes,0,Graduate,Yes,3000,0.0,1,Urban,1
2,Male,Yes,0,Not Graduate,No,2583,2358.0,1,Urban,1
3,Male,No,0,Graduate,No,6000,0.0,1,Urban,1
4,Male,Yes,2,Graduate,Yes,5417,4196.0,1,Urban,1

In [24]:
positive_outcome = 1  # Assuming 1 represents the positive outcome

# Calculate counts
total_counts = df['Gender'].value_counts()
positive_counts = df[df[y_label] == 1]['Gender'].value_counts()

# Calculate base rates
base_rates = positive_counts / total_counts

# Display results
for gender, rate in base_rates.items():
    print(gender)
    gender_label = 'Female' if gender == 1 else 'Male'
    print(f"Gender: {gender_label}")
    print(f"  Positive outcome ({y_label} = {positive_outcome}) rate: {rate:.2%}")
    print(f"  Total count: {total_counts[gender]}")
    print(f"  Positive count: {positive_counts[gender]}")
    print()

Male
Gender: Male
  Positive outcome (Policy_Status = 1) rate: 70.56%
  Total count: 394
  Positive count: 278

Female
Gender: Male
  Positive outcome (Policy_Status = 1) rate: 62.79%
  Total count: 86
  Positive count: 54

## Save as a CSV

In [82]:
df.to_csv(dataset_name + 'test.csv')